# ClickUp
CLICKUP_API_TOKEN=

# Optional ClickUp IDs
CLICKUP_TEAM_ID=
CLICKUP_SPACE_ID=
CLICKUP_PROJECT_FOLDER_ID=

# Analytics
INCLUDE_SUBTASKS=false
AUTO_REFRESH_MINUTES=10
COMPLETED_STATUS_NAMES=complete,completed,done

# Server
PORT=3000